html
    head
        title Set Printer
    body
        form(method='POST' action='/set_printer')
            label(for='p_id') Product ID :
            input(type='text', name='p_id')
            br
            label(for='v_id') Vendor ID :
            input(type='text', name='v_id')
            br
            input(type='submit')